<!DOCTYPE html>
<html lang="en">
<head>
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
 <title>CrimeWatch</title>
  </head>
  <body>
    <div class="show">
<%- include('partials/nav.ejs') -%>

<h1>CRIME Watch</h1>
</div>
<section class="sect">
<h4>Message Sent!!</h4>
<br>
<br>
<p class="container">Thank you for contacting us, we are grateful for such brilliant ideas.
  <br>
We hope you continue to follow,like and share our activities so that we can reach a wider range of people.
<br>
Together we are stronger
<br>
<br>
<br>
best wishes, Crime Watch Team :)</p>
<br>
<br>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer'); -%>
</body>
</html>
