<!DOCTYPE html>
<html lang="en">
  <head>

<style>
  body{background: #0d1521; font-family: verdana; color: #fff; padding: 30px}
h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 16px; text-align: center; }

   </style>
 <title>The  Web</title>
 <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="profile">
<%- include('partials/nav.ejs') -%>

<h1>CRIME Watch</h1>
</div class="chat">
<br>
<br>
<div>
 <h3>Welcome to the Socials unit of Crime Watch</h3>
 <br>
 <br>
<p> To begin a conversation with <%= person %>, click the link below<br>
  <br>
  <br>
Thank you.
<br>
<br>
<a href="/chat"><button class="submit">Start Conversation</button</a>
</p>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer'); -%>
</body>
</html>
